.productGrid {
    padding-top: 20px;
}

.searchForm {
    display: flex;
}

.search {
    width: 100%;
}

.searchButton {
    width: 23px;
    cursor: pointer;
    border: 0;
    text-align: center;
    background-color: #07b6fb;
    color: white;
}

.productRow {
    display: flex;
}

.productColumn {

}

.productCell {
    margin: 10px;
    width: 190px;
}

.image {
    height: 190px;
    width: 190px;
    border-radius: 20px;
}

.info {

}

.title {
    margin-top: 5px;
    width: 100%;
    height: 55px;
}

.stringInfo {
    width: 80px;

    display: flex;
    justify-content: center;

    border: 1px solid #188efd;

    font-size: 20px;
}

.description {
    font-style: italic;
    padding-right: 5px;
}

.price {
    padding-right: 5px;
}

.name {
    font-weight: bold;
    font-size: 15px;
}

.addButton {
    width: 190px;
    margin-top: 5px;
}

.more {
    margin-top: 30px;
}
.moreButton {
    width: 300px;
    margin: 0 auto;
    display: block;
}