.productGrid {

}

.productRow {
    display: flex;
}

.productColumn {

}

.productCell {
    margin: 10px;
}

.image {
    height: 190px;
    width: 190px;
    border-radius: 20px;
}

.info {

}

.stringInfo {
    display: flex;
}

.description {
    font-style: italic;
}

.name {
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}