.products {
    display: flex;
    width: fit-content;
    margin: auto;
}
/*productList*/
.productList {
    width: 500px;
    padding: 20px;
}
.findButtons {
    padding-left: 10px;
}
/*filter*/
.filter {
    display: flex;
}

.filterItem {
    padding: 20px;
    width: 300px;
}