.item {
    margin: 10px;
    display: flex;
    width: 450px;
}

.image {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.info {
    width: 100%;
}

.label {
    display: flex;
}

.description {
    font-style: italic;
    padding-right: 5px;
}

.name {
    font-weight: bold;
    padding-right: 5px;
}

.findButtons {
    padding-left: 10px;
}

.title {
    width: 100%;
}

.delButton {
    margin-top: 25px;
}