.header {
    grid-area: head;

    background-color: #188ffe;
}

.logo {
    display: flex;
    color: azure;
    padding-left: 23px;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 32px;
}