.header {
    grid-area: head;

    background-color: #188ffe;
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-areas: "logo login";
    grid-template-columns: 1fr 1fr;
}

.logo {
    grid-area: logo;
    color: azure;
    padding-left: 23px;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 32px;
}

.login {
    height: 50px;
    grid-area: login;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userInfo {

}

.exitButton {
    height: 50px;
    width: 60px;
    margin-left: 10px;
    background-color: #188ffe;
    border: 0;
    color: white;
    cursor: pointer;
}

.exitButton:hover {
    background-color: #db3f39;
}

.loginButton {
    height: 50px;
    width: 60px;
    margin-left: 10px;
    background-color: #188ffe;
    border: 0;
    color: white;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #57db39;
}

.userName {
    height: 50px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}