.appWrapper {
    display: grid;

    grid-template-areas: "head head"
                         "navbar pageC";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-gap: 0px;
}

.contentWrapper {
    grid-area: pageC;
    display: inline-block;
    height: min-content;
}